<html>
	<head>
		<title>Conicle</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<base href="/">
		<link rel="icon" href="public/images/conicle.ico" type="image/x-icon">
		<link rel='stylesheet' type='text/css' href='public/css/main.css'>
		<script type='text/javascript' src='public/libs/angular/angular.min.js'></script>
		<script type='text/javascript' src='public/libs/angular-ui-router/release/angular-ui-router.min.js'></script>
		<script type='text/javascript' src='public/libs/jquery/dist/jquery.min.js'></script>
		<script type='text/javascript' src='public/libs/gsap/src/minified/TweenMax.min.js'></script>
		<!-- Module -->
		<script type='text/javascript' src='public/modules/core/core.client.module.js'></script>
		<script type='text/javascript' src='public/modules/page/page.client.module.js'></script>
		<!-- Directive -->
		<script type='text/javascript' src='public/modules/core/directive/pageScroll.client.directive.js'></script>
		<script type='text/javascript' src='public/modules/core/directive/modal.client.directive.js'></script>
		<script type='text/javascript' src='public/modules/core/directive/sticky.client.directive.js'></script>
		<script type='text/javascript' src='public/modules/core/directive/slide.client.directive.js'></script>
		<script type='text/javascript' src='public/modules/core/directive/slideItem.client.directive.js'></script>
		<!-- Route -->
		<script type='text/javascript' src='public/modules/core/config/core.client.route.js'></script>
		<script type='text/javascript' src='public/modules/page/config/page.client.route.js'></script>
		<!-- Controller -->
		<script type='text/javascript' src='public/modules/page/controller/conicle.client.controller.js'></script>
		<script type='text/javascript' src='public/modules/page/controller/index.client.controller.js'></script>
		<script type='text/javascript' src='public/modules/page/controller/solution.client.controller.js'></script>
		<script type='text/javascript' src='public/modules/page/controller/product.client.controller.js'></script>
		<script type='text/javascript' src='public/modules/page/controller/customer.client.controller.js'></script>
		<script type='text/javascript' src='public/modules/page/controller/contact.client.controller.js'></script>
		<!-- Application -->
		<script type='text/javascript' src='public/application.js'></script>
	</head>
	<body id="main" data-ng-controller="ConicleController">
		<div id="page-home" data-ui-view=""></div>
		<div id="page-solution" data-ui-view="solution"></div>
		<div id="page-products" data-ui-view="product"></div>
		<div id="page-customer" data-ui-view="our-customer"></div>
		<div id="page-contact-us" data-ui-view="contact-us"></div>
		<div id="foot">
			<div class="wrap">
				<div class="left">
					<div class="logo"></div>
					<span>Technology enabled. Everything's possible.</span>
				</div>
				<div class="right">
					<span>Copyright 2016 Conicle Co.,Ltd.</span>
				</div>
			</div>
		</div>
		<div id="nav" data-sticky-nav=''>
			<div class="logo">
				<div class="image"></div>
				<span>Empower Smart Enterprise</span>
			</div>
			<div class="menu">
				<ul>
					<li><a data-page-scroll="#page-home" href="#home">Home</a></li>
					<li><a data-page-scroll="#page-solution" href="#solutions">Solutions</a></li>
					<li><a data-page-scroll="#page-products" href="#products">Products</a></li>
					<li><a data-page-scroll="#page-customer" href="#our-customers">Our Customers</a></li>
					<li><a data-page-scroll="#page-contact-us" href="#contact-us">Contact us</a></li>
					<li><a class="button" data-ng-click="showModal('request-pdf')">Donwload PDF</a></li>
				</ul>
			</div>
		</div>
		<div id="request-demo" class="modal" data-modal="">
			<div class="overlay"></div>
			<div class="panel">
				<div class="scroll">
					<div class="wrap">
						<div class="box">
							<div class="title">
								<h4>Request for Demo. Let's meet and</h4>
								<p>We will send you the Executive Summary and contact you for arranging the demo and presentation.</p>
							</div>
							<div class="body">
								<div class="image">
									<img src="public/images/request-demo.png">
								</div>
								<div class="form">
									<form data-ng-submit="requestDemo()">
										<h5>Please fill your information here.</h5>
										<input type="text" placeholder="Your name" data-ng-model="demo.name">
										<input type="text" placeholder="Company name" data-ng-model="demo.company">
										<input type="text" placeholder="Email" data-ng-model="demo.email">
										<input type="text" placeholder="Mobile" data-ng-model="demo.phone">
										<button class="red" type="submit" data-ng-click="Submit">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-close">Close [x]</div>
			</div>
		</div>
		<div id="request-pdf" class="modal" data-modal="">
			<div class="overlay"></div>
			<div class="panel">
				<div class="scroll">
					<div class="wrap">
						<div class="box">
							<div class="title">
								<h4>GET FREE! Conicle's Executive Summary</h4>
								<p>We will send you the Executive Summary of Conicle Smart Enterprise Platform via Email.</p>
							</div>
							<div class="body">
								<div class="image">
									<img src="public/images/request-pdf.png">
									<span>GET FREE! Conicle's Executive Summary</span>
								</div>
								<div class="form">
									<form data-ng-submit="requestPDF()">
										<h5>Please fill your information here.</h5>
										<input type="text" placeholder="Your name" data-ng-model="pdf.name">
										<input type="text" placeholder="Company name" data-ng-model="pdf.company">
										<input type="text" placeholder="Email" data-ng-model="pdf.email">
										<input type="text" placeholder="Mobile" data-ng-model="pdf.phone">
										<button class="red" type="submit" data-ng-click="Submit">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-close">Close [x]</div>
			</div>
		</div>
	</body>
</html>