<section id="contact">
	<div class="wrap">
		<h3>At Conicle all we do is to empower your team to be successful.</h3>
		<div class="box-wrap">
			<div class="box">
				<p>Conicle builds revolutionary business solutions, served from mobile & cloud, created to help you grow and develop your team faster and smarter by experiencing and engaging them much better. By leveraging the capabilities of the emerging technologies, Conicle make innovative solution which is compatible with your business process and strategy to achieve your business mission and goals.</p>
				<h5>Let’s build the better future with us</h5>
				<span>Nakorn Phuekphiphatmet</span>
				<span class="red">Email : nakorn@conicle.com</span>
				<span class="red">Mobile : +66877975636</span>
				<span class="space">Conicle Co., Ltd.</span>
				<span class="red">33 Pradipat 17, Samsennai, Phayathai, Bangkok, 10400 Thailand</span>
			</div>
			<div class="box">
				<h4>Request for Demo and Quotation</h4>
				<form data-ng-submit="sendContact()">
				<input type="text" placeholder="Your name" data-ng-model="form.name">
				<input type="text" placeholder="Company name" data-ng-model="form.company">
				<input type="text" placeholder="Email" data-ng-model="form.email">
				<textarea placeholder="Message" data-ng-model="form.msg"></textarea>
				<button class="red" type="submit" data-ng-click="Submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>