<section id="product-ondemand">
	<div class="wrap">
		<div class="phone">
			<img src="public/images/ondemand.png">
		</div>
		<div class="content">
			<div class="title-wrap">
				<div class="title">
					<h3>Conicle</h3>
					<h1>Ondemand</h1>
				</div>
				<div class="title">
					<h3>Conicle</h3>
					<h1>Live</h1>
				</div>
			</div>
			<h4>All-in-One Mobile Learning Anywhere Anytime</h4>
			<p>Develop people anywhere, anytime via web and mobile with Ondemand Courses, Live Class and Interactive Test and also analytical data and report.  It’s all you need to develop your team on-the-go faster, easier and smarter.</p>
			<div class="feature-list">
				<ul>
					<li>Knowledge & Course Center</li>
					<li>Ondemand Course with VDO, Audio, Doc</li>
					<li>Interactive Test with Score & Result</li>
					<li>Programs, the learning playlist</li>
					<li>Self-Register or Assignment</li>
					<li>Progress Tracking</li>
				</ul>
				<ul>
					<li>Upcoming Live Schedule</li>
					<li>Live Class Broadcasting</li>
					<li>Ondemand Re-run Live</li>
					<li>Discussion Board Q&A</li>
					<li>All Content Management</li>
					<li>Dashboard, Analytics and Report</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="foot">
			<div class="box">
				<span></span>
				<h4>Self Learning Path</h4>
				<p>From onboarding program to everyday learning, Conicle platform providers on-the-go learning experience for each position and career path.</p>
			</div>
			<div class="box">
				<span></span>
				<h4>KM System</h4>
				<p>Organization’s Mobile KM platform to let team, customers, and company’s partners learn, share and grow anywhere anytime.</p>
			</div>
			<div class="box">
				<span></span>
				<h4>Internal Commu</h4>
				<p>With Mobile device on everyone’s hand, your company can communicate and collaborate to a person or the whole team faster, easier and smarter.</p>
			</div>
		</div>
</section>
<section id="product-connect">
	<div class="wrap">
		<div class="phone">
			<img src="public/images/connect.png">
		</div>
		<div class="content">
			<div class="title-wrap">
				<div class="title">
					<h3>Conicle</h4>
					<h1>Connect</h2>
				</div>
			</div>
			<h4>Enhance Offline activities with Online Capabilities</h4>
			<p>Process corporate’s event and workshop ever better and faster with online features such as online register, check-in, pre-work and post-work, evaluation. It’s working with online learning platform to synergize team learning process with seamless experience.</p>
			<div class="feature-list">
				<ul>
					<li>All upcoming events to attend</li>
					<li>Event details, schedule & location</li>
					<li>Self-Register or Assignment</li>
					<li>Pre Test, In-class Test, Post Test</li>
					<li>Check-in by agenda</li>
				</ul>
				<ul>
					<li>Announcement & Notification</li>
					<li>Discussion Board Q&A</li>
					<li>Evaluation, Survey, Questionnaire</li>
					<li>All Content Management</li>
					<li>Dashboard, Analytics and Report</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="box">
			<span></span>
			<h4>Workshop & Class</h4>
			<p>Reduce operation process and time with mobile capabilities ; online register, check-in, online test, etc. Making workshop more effective and better experienced.</p>
		</div>
		<div class="box">
			<span></span>
			<h4>Corporate Event</h4>
			<p>Arrange and run company’s event more effectively with mobile platform to reduce time and cost, and provide an elegance experience to all your team.</p>
		</div>
		<div class="box">
			<span></span>
			<h4>Survey Management</h4>
			<p>Get feedback and analytical data from team, customers and business partners quick and easy with smart but simple mobile process.</p>
		</div>
	</div>
</section>
<section id="administrator">
	<div class="wrap">
		<h3>All-in-One Administration System</h3>
		<p>Manage, control and analyze in one place with multi-level management</p>
		<div class="box-wrap">
			<div class="box">
				<h5>User Account Management</h5>
				<ul>
					<li>User (Learner) Management</li>
					<li>Department (Group) Management</li>
					<li>Admin Account Management</li>
					<li>Admin Authority Management</li>
					<li>Content Provider Management</li>
				</ul>
			</div>
			<div class="box">
				<h5>Content & Media Management</h5>
				<ul>
					<li>Content Management</li>
					<li>Learning Material Management</li>
					<li>Course, Test, Program, Live Class</li>
					<li>Event / Workshop Management</li>
					<li>Survey Management</li>
				</ul>
			</div>
			<div class="box">
				<h5>Assignment, Progress & Report</h5>
				<ul>
					<li>Assignment Management</li>
					<li>Alert & Notification Management</li>
					<li>Self Registration Report</li>
					<li>Learning Progress Tracking</li>
					<li>Dashboard & Analytics</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="bg">
		<div class="bg2"></div>
	</div>
</section>
<section id="blended">
	<div class="image">
		<img src="public/images/circle2.png">
	</div>
</section>