<section id="solution-what">
	<div class="wrap">
		<h3>Mobile First for Team Development.</h3>
		<p>Empowering your team & organization with all-in-one mobile learning platform to learn and connect faster, easier, and smarter anywhere anytime.</p>
		<ul>
			<li>
				<h5>Mobile Learning. Anywhere Anytime.</h5>
				<p>Using cloud-based ondemand training platform to learn anywhere anytime on web and mobile app with friendly experience.</p>
			</li>
			<li>
				<h5>Blended Learning. Smart, Fast & Easy.</h5>
				<p>Learning with VDO, audio, doc, live class, and test form and two-way communication tools such as discussion board, survey and questionnaire.</p>
			</li>
			<li>
				<h5>Personalized Learning Path</h5>
				<p>Creating and assigning content playlists to promote individualized learning paths to match the required skills of each position and career path.</p>
			</li>
			<li>
				<h5>Result Tracking and Data Analytics</h5>
				<p>Tracking the progress and seeing the reports to  measure and analyze adoption, achievement, time that users spend learning and testing results.</p>
			</li>
		</ul>
		<div class="bg">
			<img src="public/images/overview.png">
		</div>
	</div>
</section>
<section id="solution-why">
	<div class="wrap">
		<h3>Mobile Learning breaking the barrier</h3>
		<p>As mobile is transforming how we live and work, Conicle builds a revolutionary mobile learning platform to empower your team ever better and be part of your brighter future workplace.</p>
		<div class="box-wrap">
			<div class="box">
				<h6>Mobile Learning to retain and develop Talent</h6>
				<span>89%</span>
				<p>of employees say “If my employer invests in my training, I’m more likely to stay at the company long term.” </p>
			</div>
			<div class="box">
				<h6>More Achievement & Better Engagement</h6>
				<span>3x</span>
				<p>Users studying on mobile devices are 3 times more likely to track their progress and get achievement.</p>
			</div>
			<div class="box">
				<h6>Mobile device is the most critical work device</h6>
				<span>65%</span>
				<p>of workers declared their mobile devices to be their “most critical work device.” since 2012</p>
			</div>
		</div>
	</div>
</section>
<section id="solution-detail">
	<div class="wrap">
		<h3>Better HR Development with Blended Learning Platform</h3>
		<h4>Leverage the capabilities of online media and offline activities to benefit Team Development</h4>
		<div class="image">
			<img src="public/images/circle.png">
		</div>
		<h4>The innovative solution that enhancing HR process to be a faster and smarter enterprise with</h4>
		<h5>Team Development  .  Knowledge Management  .  Internal Communication</h5>
		<div class="box-wrap">
			<div class="box">
				<div class="text">
					<h5>Less Complicated</h5>
					<p>Easy and Good Experienced</p>
				</div>
			</div>
			<div class="box">
				<div class="text">
					<h5>Faster and Smarter</h5>
					<p>with end-to-end platform</p>
				</div>
			</div>
			<div class="box">
				<div class="text">
					<h5>More Engaged</h5>
					<p>Anywhere Anytime</p>
				</div>
			</div>
			<div class="box">
				<div class="text">
					<h5>It’s BYOD</h5>
					<p>Bring your own device</p>
				</div>
			</div>
		</div>
		<h5>Full platform for the best performance : Mobile + Cloud + Data + APIs : aligned with your business process to achieve your business objectives</h5>
	</div>
</section>